<div style="margin-top:12cm" class="text-center">
  <h2 style="font-family: Impact, fantasy;">{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p style="">{{description}}</p>
  {{!-- <p>Created by {{users.name}} on {{format_date adoptable.createdAt}}</p> --}}
  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}
  <p>
    <button class="btn btn-primary">Adopt Me!</button>
  </p>
</div>
